
services:
  crafty:
    container_name: {{ default_container_name }}
    image: registry.gitlab.com/crafty-controller/crafty-4:latest
    restart: always
    environment:
      - TZ=Etc/UTC
    ports:
      - "8000:8000" # HTTP
      - "8443:8443" # HTTPS
      - "8123:8123" # DYNMAP
      - "19132:19132/udp" # BEDROCK
      - "25500-25600:25500-25600" # MC SERV PORT RANGE
    volumes:
      - ./docker/backups:/crafty/backups
      - ./docker/logs:/crafty/logs
      - ./docker/servers:/crafty/servers
      - ./docker/config:/crafty/app/config
      - ./docker/import:/crafty/import
  nginx:
    image: nginx:latest
    container_name: crafty_nginx
    volumes:
      - {{ default_app_directory }}/nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt/live/{{ default_certbot_domain }}/fullchain.pem:/etc/nginx/cert/nginx.pem
      - /etc/letsencrypt/live/{{ default_certbot_domain }}/privkey.pem:/etc/nginx/cert/nginx.key
      - /etc/letsencrypt/live/{{ default_certbot_domain }}/cert.pem:/etc/nginx/cert/nginx.crt
    ports:
      - 8080:8080
      - 443:443
    links:
     - crafty