server {
  listen 8080;
  server_name {{ default_container_name }};
  

  ssl_certificate /etc/nginx/cert/nginx.crt;
  ssl_certificate_key /etc/nginx/cert/nginx.key;
  location / {
    proxy_pass          https://{{ default_container_name }}:8443/;
    
  }  
}
server {
  listen 443 ssl;
  server_name crafty_container;
  ssl_certificate /etc/nginx/cert/nginx.crt;
  ssl_certificate_key /etc/nginx/cert/nginx.key;
  location / {
      proxy_pass https://{{ default_container_name }}:8443;
  }
}